<h1 class="main">Project Page</h1>
<p>
This page lists the most recent project requests that have been submitted to the IdeaLab. You can join a google group
to discuss the idea lab as well as individual idea lab projects by visiting
<a href="http://groups.google.com/group/idea-lab-at-brandeis/topics?hl=en">http://groups.google.com/group/idea-lab-at-brandeis/topics?hl=en</a>
During August of 2010 we will add a commenting feature to this site so that people can comment directly on projects. Also, we will have the
interactions on this site posted onto the google groups site so that members who are so inclined can have more in depth discussion
of the posted projects and comments.
</p>
<hr/>
<p>
	Right now this website is in an alpha stage, so don't put too much time into it, but feel free to play with the interface
	and you can send any suggestions you might have to <a href="mailto:tjhickey@brandeis.edu">tjhickey@brandeis.edu</a>.
</p>
<hr/>
<h2 style="text-align:right">
 <%= link_to 'Submit your own project', new_opportunity_path %> 
 </h2>
<ul> 
<% @opportunities.each do |opportunity| %>
<li>
	<a href="#op<%=h opportunity.id %>"> <%=h opportunity.title %> = <%=h opportunity.created_at %></a>
</li>
<% end %>
</ul>

<% @opportunities.each do |opportunity| %>
<div class="opportunity"> <a name="op<%=h opportunity.id %>"> </a>
<h2><%=h opportunity.id %>: <%=h opportunity.title %></h2>
<h3>Description of the opportunity</h3>
<%=h opportunity.description %>
<h3>Potential impact</h3>
    <%=h opportunity.impact %>
	<h3> Suggested Approach</h3>
    <%=h opportunity.approach %>
	<h3> Commitment of the Proposer</h3>
    <%=h opportunity.commitment %>
	<h3> Proposer id number</h3>
    <%=h opportunity.user_id %>
	<h3>Editing actions</h3>
    <%= link_to 'Show', opportunity %>
    <%= link_to 'Edit', edit_opportunity_path(opportunity) %>
    <%= link_to 'Destroy', opportunity, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>


<br />

<%= link_to 'New opportunity', new_opportunity_path %>